* {
    box-sizing: border-box;
}

.box {
    padding: 20px;
    border: 2px solid black;
}

.inline {
    display: inline;
}

h1 {
    background-color: red;
    text-align: center;
}

a {
    background-color: red;

}

.none {
    display: none;
}

/* Display:
block: ocupa toda a largura
inline : ocupa apenas o necessário e não quebra linha
none

*/