.red1,
.red2,
.red3 {
  width: 200px;
  height: 200px;
}

.red1 {
  background-color: red;
}

.red2 {
  background-color: #DDA15E;
}

.red3 {
  background-color: rgba(255, 0, 0, 1)
}

/* 
Unidades de medida
- Absolutas: px, (essas são mais utilizadas para impressão: cm, pt, etc),
- Relativas:vh (viewport heigth), vw (viewport width) ,
            em (baseado no pai) ,
            rem (baseado no elemento raiz) ,
            % (baseado no pai).
*/
/*  /px =será sempre o mesmo independente do tamanho da tela*/ 
.quadrado1 {
  width: 200px;
  height: 100px;
  background-color: rebeccapurple;
  color: white;
}

.quadrado2 {
  width: 80vw; /* 60% da largura da tela-viewport*/
  height: 50vh; /*  50% da altura da tela -viewport*/
  background-color: orange;
}

/*  */
.quadrado3 {
  background-color: tomato;
  width: 50%;
  height: 40%;
}

/* Dependendo das dimensões da imagem pode distorcer */
.quadrado2 img {
  width: 100%;
  height: 100%;
}

/* % -> depende das dimesões definidas no elemento pai */